body{
	color: $grey;
	// font-size: $font_size;
	background: $bg_color;
	font-family: $font_family;
	font-weight: $font_weight;
	line-height: 20px !important;
}

.container{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}