@import "../styles/components/_mixins.scss";
@import "../styles/components/_vars.scss";

.weather-app {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  transition: 500ms;
  opacity: 1; /* change to "0" once the whole app is finished */

  /* Add background overlay */

  .weather-app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;

    .name {
      // margin-bottom: 10px;
      transform: translateY(-15px);
    }

    .brand {
      @include sm {
        font-size: 10px;
      }
    }

    @include md {
      display: block;
      margin: 0 auto;
    }
  }

  .container > .content {
    display: flex;
    justify-content: center;
    align-items: center;

    @include md {
      font-size: 16px;
      margin: 0 auto;
    }
  }

  .city-time,
  .temp {
    margin: 0 1em;
    margin-bottom: 0.2em;
    font-size: 2em;

    @include media(630px) {
      // flex-direction: row;
      // display: block;
      font-size: 1em;
    }
  }

  .temp {
    font-size: 7em;
    margin: 0;

    @include media(630px) {
      // flex-direction: row;
      // display: block;
      font-size: 4em;
    }

    @include sm {
      font-size: 3em;
    }
  }

  .weather img {
    width: 100%;
    object-fit: cover;
    width: 90%;
    height: 90%;
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
  }

  .weather {
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    @include md {
      font-size: 1em;
      padding-bottom: 0;
      transform: translateY(-13px);
    }
  }

  .panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
  }

  .panel form {
    margin-bottom: 3em;
  }

  .submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background: #94c5ea;
    color: #000;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
  }

  .submit:hover {
    background: #fff !important;
    color: #000;
  }

  .search {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 1em 0.5em 0;
    width: 80%;
    font-size: 1.1em;
    color: #ccc;

  }

  .search:focus {
    outline: none;
  }

  .search::placeholder {
    color: #ccc;
  }

  .panel ul {
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .panel ul li {
    color: #ccc;
    margin: 2.5em 0;
  }

  .panel ul h4 {
    margin: 3em 0;
  }

  .city {
    display: block;
    cursor: pointer;
  }

  .city:hover {
    color: #fff;
  }

  .details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .panel,
  .container {
    // background: #000;
    position: relative !important;
    width: 100% !important;
    top: initial !important;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 12px !important;
    // background: #000 !important;
  }
}

@media screen and (max-width: 400px) {
  .weather-app {
    // min-height: 40em !important;
  }
}
